# Coleta, limpeza e checagem dos dados

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
import pandas as pd
import numpy as np

## Despesas por função

O código utilizado para coleta, via *Selenium*, está disponível abaixo como comentário. Neste arquivo apenas realizamos a leitura e tratamento dos dados previamente coletados.


Código utilizado para coleta (para saber mais sobre as configurações da biblioteca utilizada, consulte [este link](https://pypi.org/project/selenium/): 


``` python 
import pandas as pd

from selenium.webdriver import Chrome, ChromeOptions, Firefox
from selenium.webdriver import ActionChains
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
import time 
from selenium.webdriver.firefox.options import Options


for a in range(2010,2023):
    print(a)
    meses = ['dez', 'nov', 'out', 'set', 'ago', 'jul', 'jun', 'mai', 'abr','mar', 'fev', 'jan']
    colunas = ['descrição da despesa','Valor Anual Previsto na LOA','valor mensal empenhado','Valor Acumulado']
    df_ano_mes = []
    for i,m in enumerate(meses):
        print(m)
        url = f'https://transparencia.fortaleza.ce.gov.br/index.php/despesa/exibirDespesasPorFuncao/{a}#tabs-{m}'

        options = Options()
        options.headless = True
        webdriver = Firefox(executable_path='/home/alexandre/bin/geckodriver', options=options)

        webdriver.get(url)
        time.sleep(3)

        table = webdriver.find_elements(By.CLASS_NAME, 'table')[11-i]
        
        rows = table.find_elements(By.TAG_NAME, "tr") 
        cr = 0
        lista_dados = []
        for row in rows[1:]:
            col = row.find_elements(By.TAG_NAME, "td")
            lista_dados.append({
                                'ano':a,
                                'mes':m,
                                colunas[0]:col[0].text,
                                colunas[1]:col[1].text,
                                colunas[2]:col[2].text,
                                colunas[3]:col[3].text,
                                })
        df = pd.DataFrame(lista_dados)

        df_ano_mes.append(df)

        df = pd.concat(df_ano_mes)
        df.to_csv(f'df_{a}.csv')
        webdriver.close()
        
```

In [ ]:
dict_meses = {'dez':12,
 'nov':11, 
 'out':10,
 'set':9, 
 'ago':8, 
 'jul':7, 
 'jun':6,
 'mai':5,
 'abr':4,
 'mar':3,
 'fev':2,
 'jan':1
 }

In [ ]:
pd.options.display.float_format = '{:.2f}'.format

In [ ]:
!pip install calculadora_do_cidadao

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: calculadora_do_cidadao in /usr/local/lib/python3.8/dist-packages (1.0.0)
Requirement already satisfied: typer>=0.0.8 in /usr/local/lib/python3.8/dist-packages (from calculadora_do_cidadao) (0.7.0)
Requirement already satisfied: xlrd<3.0.0,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from calculadora_do_cidadao) (2.0.1)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.8/dist-packages (from calculadora_do_cidadao) (2.25.1)
Requirement already satisfied: xlwt<2.0.0,>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from calculadora_do_cidadao) (1.3.0)
Requirement already satisfied: unicodecsv<0.15.0,>=0.14.1 in /usr/local/lib/python3.8/dist-packages (from calculadora_do_cidadao) (0.14.1)
Requirement already satisfied: lxml<5.0.0,>=4.7.1 in /usr/local/lib/python3.8/dist-packages (from calculadora_do_cidadao) (4.9.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.22.0->calculadora_do_cidadao) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.22.0->calculadora_do_cidadao) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.22.0->calculadora_do_cidadao) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.22.0->calculadora_do_cidadao) (4.0.0)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.8/dist-packages (from typer>=0.0.8->calculadora_do_cidadao) (7.1.2)

In [ ]:
from calculadora_do_cidadao import Ipca
from datetime import date

In [ ]:
ipca = Ipca()

In [ ]:
path_scrap = '/content/drive/Shareddrives/O POVO+/Jornalismo de Dados/Pautas/2022/02 - Fevereiro/Execução Orçamentária PMF - Cultura/web_scrap_selenium'

In [ ]:
lista_df = []

for f in os.listdir(path_scrap):
  lista_df.append(pd.read_csv(path_scrap+'/'+f))

wsDf = pd.concat(lista_df)[['ano', 'mes', 'descrição da despesa',
       'Valor Anual Previsto na LOA', 'valor mensal empenhado',
       'Valor Acumulado']]

In [ ]:
wsDf['ano/mes'] = wsDf.apply(lambda x: f'{x.mes}/{x.ano}', axis=1)

In [ ]:
wsDf['Valor Anual Previsto na LOA'] = wsDf['Valor Anual Previsto na LOA'].str.replace('.', '').str.replace(',', '.').astype(float)
wsDf['valor mensal empenhado'] = wsDf['valor mensal empenhado'].str.replace('.', '').str.replace(',', '.').astype(float)
wsDf['Valor Acumulado'] = wsDf['Valor Acumulado'].str.replace('.', '').str.replace(',', '.').astype(float)

<ipython-input-109-00861aabf46c>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  wsDf['Valor Anual Previsto na LOA'] = wsDf['Valor Anual Previsto na LOA'].str.replace('.', '').str.replace(',', '.').astype(float)
<ipython-input-109-00861aabf46c>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  wsDf['valor mensal empenhado'] = wsDf['valor mensal empenhado'].str.replace('.', '').str.replace(',', '.').astype(float)
<ipython-input-109-00861aabf46c>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  wsDf['Valor Acumulado'] = wsDf['Valor Acumulado'].str.replace('.', '').str.replace(',', '.').astype(float)

In [ ]:
wsDf['dtg'] = wsDf.apply(lambda x: pd.to_datetime(f'{x.ano}-{dict_meses[x.mes]}'), axis=1)

In [ ]:
wsDf['valor mensal empenhado corrigido'] = wsDf.apply(lambda x: x['valor mensal empenhado'] * float(ipca.adjust(x['dtg'])), axis=1)
wsDf['valor Acumulado corrigido'] = wsDf.apply(lambda x: x['Valor Acumulado'] * float(ipca.adjust(x['dtg'])), axis=1)

In [ ]:
wsDf.loc[wsDf['descrição da despesa'] != 'TOTAIS'][['ano','mes','valor mensal empenhado','valor mensal empenhado corrigido','dtg']]

,ano,mes,valor mensal empenhado,valor mensal empenhado corrigido,dtg
0,2010,dez,4716215.96,9604529.55,2010-12-01
1,2010,dez,3171516.62,6458763.84,2010-12-01
2,2010,dez,42307955.78,86159755.00,2010-12-01
3,2010,dez,7338359.70,14944500.68,2010-12-01
4,2010,dez,7098174.92,14455366.63,2010-12-01
...,...,...,...,...,...
294,2022,jan,0.00,0.00,2022-01-01
295,2022,jan,8185249.74,8657906.74,2022-01-01
296,2022,jan,2304339.12,2437403.11,2022-01-01
297,2022,jan,30325251.27,32076382.01,2022-01-01
298,2022,jan,0.00,0.00,2022-01-01

## Despesas por área de atuação

A coleta dos dados foi feita com o webscraper, extensão para browsers. Para saber mais sobre a ferramenta, acesse [este link](https://www.webscraper.io/).

In [ ]:
path = '/content/drive/Shareddrives/O POVO+/Jornalismo de Dados/Pautas/2022/02 - Fevereiro/Execução Orçamentária PMF - Cultura/'

In [ ]:
df = pd.read_csv(path + 'despesas_por_area_de_atuacao.csv')

In [ ]:
funcoes = ['ADMINISTRACAO', 'ASSISTENCIA SOCIAL', 'CIENCIA E TECNOLOGIA', 'COMERCIO E SERVICOS', 'COMUNICACOES',  'CULTURA', 'DESPORTO E LAZER', 'DIREITOS DA CIDADANIA', 'EDUCACAO', 'ENCARGOS ESPECIAIS', 'ENERGIA', 'ESSENCIAL A JUSTICA', 'GESTAO AMBIENTAL', 'HABITACAO', 'JUDICIARIA', 'LEGISLATIVA', 'PREVIDENCIA SOCIAL', 'RESERVA DE CONTINGENCIA', 'SANEAMENTO', 'SAUDE', 'SEGURANCA PUBLICA', 'TRABALHO', 'TRANSPORTE', 'URBANISMO']

In [ ]:
df['tipo'] = np.where(df['função / subfunção'].isin(funcoes), 'função', 'subfunção')

In [ ]:
df['ano'] = df['web-scraper-start-url'].apply(lambda x: x.split("exercicio=")[1].split("&")[0])

In [ ]:
df['Dotação Orçamentária'] = df['Dotação Orçamentária'].str.replace('.', '').str.replace(',', '.').astype(float)
df['Valor Empenhado'] = df['Valor Empenhado'].str.replace('.', '').str.replace(',', '.').astype(float)
df['Valor Liquidado'] = df['Valor Liquidado'].str.replace('.', '').str.replace(',', '.').astype(float)
df['Valor Pago'] = df['Valor Pago'].str.replace('.', '').str.replace(',', '.').astype(float)

<ipython-input-118-758bbebceb65>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Dotação Orçamentária'] = df['Dotação Orçamentária'].str.replace('.', '').str.replace(',', '.').astype(float)
<ipython-input-118-758bbebceb65>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Valor Empenhado'] = df['Valor Empenhado'].str.replace('.', '').str.replace(',', '.').astype(float)
<ipython-input-118-758bbebceb65>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Valor Liquidado'] = df['Valor Liquidado'].str.replace('.', '').str.replace(',', '.').astype(float)
<ipython-input-118-758bbebceb65>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Valor Pago'] = df['Valor Pago'].str.replace('.', '').str.replace(',', '.').astype(float)

In [ ]:
df['dtg'] = df.ano.apply(lambda x: pd.to_datetime(f'{x}-12-31'))

In [ ]:
df['valor_pago_corrigido'] = df.apply(lambda x: x['Valor Pago'] * float(ipca.adjust(x['dtg'])), axis=1)
df['valor_empenhado_corrigido'] = df.apply(lambda x: x['Valor Empenhado'] * float(ipca.adjust(x['dtg'])), axis=1)
df['valor_liquidado_corrigido'] = df.apply(lambda x: x['Valor Liquidado'] * float(ipca.adjust(x['dtg'])), axis=1)

In [ ]:
def getSubfunc(idx_ano):
  cont = idx_ano+1
  while df.iloc[cont].tipo == 'subfunção':
    cont+=1
  return df.iloc[idx_ano+1:cont].copy()

In [ ]:
lista_subfuncoes = []
for y in list(df[df['função / subfunção'] == 'CULTURA'].index):
  lista_subfuncoes.append(getSubfunc(y))

In [ ]:
subfuncoes_cultura = pd.concat(lista_subfuncoes)

In [ ]:
subfuncoes_cultura

,web-scraper-order,web-scraper-start-url,função / subfunção,Dotação Orçamentária,Valor Empenhado,%(B/A)%,Valor Liquidado,Valor Pago,tipo,ano,dtg,valor_pago_corrigido,valor_empenhado_corrigido,valor_liquidado_corrigido
71,1676496995-491,https://transparencia.fortaleza.ce.gov.br/inde...,ADMINISTRACAO GERAL,41801420.00,26512144.03,"63,42",20563025.45,19885172.83,subfunção,2022,2022-12-31,19990556.02,26652647.43,20672000.98
72,1676496995-492,https://transparencia.fortaleza.ce.gov.br/inde...,TECNOLOGIA DA INFORMACAO,11000.00,0.00,"0,00",0.00,0.00,subfunção,2022,2022-12-31,0.00,0.00,0.00
73,1676496995-493,https://transparencia.fortaleza.ce.gov.br/inde...,ASSISTENCIA A CRIANCA E AO ADOLESCENTE,7384954.00,7086685.44,"95,96",7086685.44,5904003.35,subfunção,2022,2022-12-31,5935292.13,7124241.94,7124241.94
74,1676496995-494,https://transparencia.fortaleza.ce.gov.br/inde...,"PATRIMONIO HISTORICO, ARTISTICO E ARQUEOLOGICO",3432954.00,611288.38,"17,81",611288.38,611288.38,subfunção,2022,2022-12-31,614527.96,614527.96,614527.96
75,1676496995-495,https://transparencia.fortaleza.ce.gov.br/inde...,DIFUSAO CULTURAL,45825490.00,7887471.91,"17,21",7887471.91,7726750.73,subfunção,2022,2022-12-31,7767699.31,7929272.25,7929272.25
207,1676496998-627,https://transparencia.fortaleza.ce.gov.br/inde...,ADMINISTRACAO GERAL,23992607.00,18593628.52,"77,50",16668781.43,16373598.47,subfunção,2021,2021-12-31,17412619.57,19773526.29,17726533.99
208,1676496998-628,https://transparencia.fortaleza.ce.gov.br/inde...,TECNOLOGIA DA INFORMACAO,1134000.00,100382.60,"8,85",100382.60,90065.60,subfunção,2021,2021-12-31,95780.90,106752.59,106752.59
209,1676496998-629,https://transparencia.fortaleza.ce.gov.br/inde...,ASSISTENCIA A CRIANCA E AO ADOLESCENTE,4195000.00,4169214.13,"99,39",4169214.13,3169214.13,subfunção,2021,2021-12-31,3370323.27,4433780.37,4433780.37
210,1676496998-630,https://transparencia.fortaleza.ce.gov.br/inde...,"PATRIMONIO HISTORICO, ARTISTICO E ARQUEOLOGICO",1059852.00,740346.72,"69,85",343190.23,343190.23,subfunção,2021,2021-12-31,364968.09,787326.98,364968.09
211,1676496998-631,https://transparencia.fortaleza.ce.gov.br/inde...,DIFUSAO CULTURAL,46327302.00,36993107.83,"79,85",34803470.15,34647161.49,subfunção,2021,2021-12-31,36845769.94,39340583.23,37011997.49
212,1676496998-632,https://transparencia.fortaleza.ce.gov.br/inde...,INFRA-ESTRUTURA URBANA,23333606.00,22731806.40,"97,42",19118293.50,18711925.25,subfunção,2021,2021-12-31,19899329.79,24174300.95,20331484.99
347,1676497001-767,https://transparencia.fortaleza.ce.gov.br/inde...,ADMINISTRACAO GERAL,37927557.00,34162964.22,"90,07",33041567.19,32994905.57,subfunção,2020,2020-12-31,38618931.34,39986087.15,38673546.49
348,1676497001-768,https://transparencia.fortaleza.ce.gov.br/inde...,TECNOLOGIA DA INFORMACAO,14000.00,0.00,"0,00",0.00,0.00,subfunção,2020,2020-12-31,0.00,0.00,0.00
349,1676497001-769,https://transparencia.fortaleza.ce.gov.br/inde...,ASSISTENCIA A CRIANCA E AO ADOLESCENTE,3823000.00,3774845.63,"98,74",3774845.63,3774845.63,subfunção,2020,2020-12-31,4418273.11,4418273.11,4418273.11
350,1676497001-770,https://transparencia.fortaleza.ce.gov.br/inde...,"PATRIMONIO HISTORICO, ARTISTICO E ARQUEOLOGICO",2652852.00,1636482.87,"61,69",1373741.19,1329200.49,subfunção,2020,2020-12-31,1555764.49,1915423.56,1607897.21
351,1676497001-771,https://transparencia.fortaleza.ce.gov.br/inde...,DIFUSAO CULTURAL,75970968.00,57806505.92,"76,09",57669124.91,57655483.63,subfunção,2020,2020-12-31,67482937.90,67659702.14,67498904.35
352,1676497001-772,https://transparencia.fortaleza.ce.gov.br/inde...,INFRA-ESTRUTURA URBANA,52522386.00,38620378.56,"73,53",35346192.47,35297411.00,subfunção,2020,2020-12-31,41313901.90,45203273.72,41370998.23
487,1676497004-907,https://transparencia.fortaleza.ce.gov.br/inde...,ADMINISTRACAO GERAL,43945423.00,40134986.66,"91,33",38109576.55,37869534.93,subfunção,2019,2019-12-31,46326785.61,49098171.55,46620434.76
488,1676497004-908,https://transparencia.fortaleza.ce.gov.br/inde...,TECNOLOGIA DA INFORMACAO,72000.00,2150.80,"2,99",2150.80,2150.80,subfunção,2019,2019-12-31,2631.13,2631.13,2631.13
489,1676497004-909,https://transparencia.fortaleza.ce.gov.br/inde...,ASSISTENCIA A CRIANCA E AO ADOLESCENTE,4076000.00,4025154.37,"98,75",4025154.37,4025154.37,subfunção,2019,2019-12-31,4924075.88,4924075.88,4924075.88
490,1676497004-910,https://transparencia.fortaleza.ce.gov.br/inde...,"PATRIMONIO HISTORICO, ARTISTICO E ARQUEOLOGICO",532000.00,224546.09,"42,21",126378.79,61600.00,subfunção,2019,2019-12-31,75356.88,274693.06,154602.46
491,1676497004-911,https://transparencia.fortaleza.ce.gov.br/inde...,DIFUSAO CULTURAL,35197871.00,23693494.20,"67,32",23238101.47,23186143.19,subfunção,2019,2019-12-31,28364211.14,28984866.81,28427773.06
492,1676497004-912,https://transparencia.fortaleza.ce.gov.br/inde...,"DIREITOS INDIVIDUAIS, COLETIVOS E DIFUSOS",251000.00,0.00,"0,00",0.00,0.00,subfunção,2019,2019-12-31,0.00,0.00,0.00
493,1676497004-913,https://transparencia.fortaleza.ce.gov.br/inde...,INFRA-ESTRUTURA URBANA,6555341.00,4229611.22,"64,52",2990883.09,2990883.09,subfunção,2019,2019-12-31,3658824.96,5174193.25,3658824.96
630,1676497007-1050,https://transparencia.fortaleza.ce.gov.br/inde...,ADMINISTRACAO GERAL,17328743.00,15876914.38,"91,62",15729878.00,15689393.70,subfunção,2018,2018-12-31,20019732.93,20259010.11,20071391.06
631,1676497007-1051,https://transparencia.fortaleza.ce.gov.br/inde...,TECNOLOGIA DA INFORMACAO,6889.00,0.00,"0,00",0.00,0.00,subfunção,2018,2018-12-31,0.00,0.00,0.00
632,1676497007-1052,https://transparencia.fortaleza.ce.gov.br/inde...,FORMACAO DE RECURSOS HUMANOS,0.00,0.00,"0,00",0.00,0.00,subfunção,2018,2018-12-31,0.00,0.00,0.00
633,1676497007-1053,https://transparencia.fortaleza.ce.gov.br/inde...,ASSISTENCIA A CRIANCA E AO ADOLESCENTE,3046520.00,2993858.22,"98,27",2128703.70,2128703.70,subfunção,2018,2018-12-31,2716234.95,3820175.79,2716234.95
634,1676497007-1054,https://transparencia.fortaleza.ce.gov.br/inde...,"PATRIMONIO HISTORICO, ARTISTICO E ARQUEOLOGICO",2706610.00,2085314.30,"77,05",2085314.30,2085314.30,subfunção,2018,2018-12-31,2660869.89,2660869.89,2660869.89
635,1676497007-1055,https://transparencia.fortaleza.ce.gov.br/inde...,DIFUSAO CULTURAL,25414241.00,9986260.92,"39,29",9935293.93,9899526.26,subfunção,2018,2018-12-31,12631837.51,12742511.30,12677477.21
636,1676497007-1056,https://transparencia.fortaleza.ce.gov.br/inde...,"DIREITOS INDIVIDUAIS, COLETIVOS E DIFUSOS",27273000.00,23064722.86,"84,57",23064722.86,23064722.86,subfunção,2018,2018-12-31,29430684.22,29430684.22,29430684.22
637,1676497007-1057,https://transparencia.fortaleza.ce.gov.br/inde...,INFRA-ESTRUTURA URBANA,8248370.00,6053619.51,"73,39",5509450.73,5371732.01,subfunção,2018,2018-12-31,6854352.84,7724444.18,7030082.51
767,1676497010-1187,https://transparencia.fortaleza.ce.gov.br/inde...,ADMINISTRACAO GERAL,29008519.00,27659035.17,"95,35",27437682.64,27380270.86,subfunção,2017,2017-12-31,36245948.28,36614975.92,36321949.88
768,1676497010-1188,https://transparencia.fortaleza.ce.gov.br/inde...,TECNOLOGIA DA INFORMACAO,64000.00,63460.10,"99,16",63460.10,22583.40,subfunção,2017,2017-12-31,29895.86,84008.35,84008.35
769,1676497010-1189,https://transparencia.fortaleza.ce.gov.br/inde...,"PATRIMONIO HISTORICO, ARTISTICO E ARQUEOLOGICO",4429500.00,53000.00,"1,20",53000.00,53000.00,subfunção,2017,2017-12-31,70161.29,70161.29,70161.29
770,1676497010-1190,https://transparencia.fortaleza.ce.gov.br/inde...,DIFUSAO CULTURAL,42579339.00,13913173.50,"32,68",12776923.52,12396248.93,subfunção,2017,2017-12-31,16410129.76,18418231.49,16914066.02
771,1676497010-1191,https://transparencia.fortaleza.ce.gov.br/inde...,INFRA-ESTRUTURA URBANA,2365402.00,1659081.25,"70,14",1331065.09,1331065.09,subfunção,2017,2017-12-31,1762061.33,2196288.47,1762061.33
772,1676497010-1192,https://transparencia.fortaleza.ce.gov.br/inde...,DESPORTO COMUNITARIO,1161163.00,0.00,"0,00",0.00,0.00,subfunção,2017,2017-12-31,0.00,0.00,0.00
890,1676497013-1310,https://transparencia.fortaleza.ce.gov.br/inde...,ADMINISTRACAO GERAL,36537654.00,27374169.02,"74,92",27008773.64,26971005.10,subfunção,2016,2016-12-31,36756515.19,37305953.40,36807986.76
891,1676497013-1311,https://transparencia.fortaleza.ce.gov.br/inde...,TECNOLOGIA DA INFORMACAO,240000.00,210630.00,"87,76",210630.00,0.00,subfunção,2016,2016-12-31,0.00,287049.92,287049.92
892,1676497013-1312,https://transparencia.fortaleza.ce.gov.br/inde...,"PATRIMONIO HISTORICO, ARTISTICO E ARQUEOLOGICO",7131784.00,521150.00,"7,31",521150.00,517000.00,subfunção,2016,2016-12-31,704575.83,710231.52,710231.52
893,1676497013-1313,https://transparencia.fortaleza.ce.gov.br/inde...,DIFUSAO CULTURAL,43279604.00,18088063.08,"41,79",16967451.81,16175271.81,subfunção,2016,2016-12-31,22043917.97,24650700.37,23123513.49
894,1676497013-1314,https://transparencia.fortaleza.ce.gov.br/inde...,INFRA-ESTRUTURA URBANA,2148674.00,240604.74,"11,20",112203.21,112203.21,subfunção,2016,2016-12-31,152912.32,327899.97,152912.32
895,1676497013-1315,https://transparencia.fortaleza.ce.gov.br/inde...,DESPORTO COMUNITARIO,802000.00,0.00,"0,00",0.00,0.00,subfunção,2016,2016-12-31,0.00,0.00,0.00
1013,1676497016-1433,https://transparencia.fortaleza.ce.gov.br/inde...,ADMINISTRACAO GERAL,24532065.00,21236437.43,"86,57",21132017.44,20724053.97,subfunção,2015,2015-12-31,30018991.68,30761184.06,30609930.70
1014,1676497016-1434,https://transparencia.fortaleza.ce.gov.br/inde...,TECNOLOGIA DA INFORMATIZACAO,85000.00,80025.00,"94,15",80025.00,80025.00,subfunção,2015,2015-12-31,115916.98,115916.98,115916.98
1015,1676497016-1435,https://transparencia.fortaleza.ce.gov.br/inde...,"PATRIMONIO HISTORICO, ARTISTICO E ARQUEOLOGICO",3394472.00,134709.00,"3,97",134709.00,134709.00,subfunção,2015,2015-12-31,195127.28,195127.28,195127.28
1016,1676497016-1436,https://transparencia.fortaleza.ce.gov.br/inde...,DIFUSAO CULTURAL,25305971.00,10608341.55,"41,92",10511641.55,8501457.77,subfunção,2015,2015-12-31,12314443.42,15366284.86,15226213.98
1017,1676497016-1437,https://transparencia.fortaleza.ce.gov.br/inde...,INFRA-ESTRUTURA URBANA,1550000.00,0.00,"0,00",0.00,0.00,subfunção,2015,2015-12-31,0.00,0.00,0.00
1018,1676497016-1438,https://transparencia.fortaleza.ce.gov.br/inde...,DESPORTO COMUNITARIO,999000.00,196279.21,"19,65",196279.21,196279.21,subfunção,2015,2015-12-31,284312.33,284312.33,284312.33
1145,1676497019-1565,https://transparencia.fortaleza.ce.gov.br/inde...,ADMINISTRACAO GERAL,30293643.00,17959184.64,"59,28",17959184.64,15888448.95,subfunção,2014,2014-12-31,25470922.92,28790538.91,28790538.91
1146,1676497019-1566,https://transparencia.fortaleza.ce.gov.br/inde...,"PATRIMONIO HISTORICO, ARTISTICO E ARQUEOLOGICO",21000.00,0.00,"0,00",0.00,0.00,subfunção,2014,2014-12-31,0.00,0.00,0.00
1147,1676497019-1567,https://transparencia.fortaleza.ce.gov.br/inde...,DIFUSAO CULTURAL,40519754.00,26687171.91,"65,86",24812452.65,21695922.53,subfunção,2014,2014-12-31,34780938.80,42782457.93,39777077.74
1148,1676497019-1568,https://transparencia.fortaleza.ce.gov.br/inde...,"DIREITOS INDIVIDUAIS, COLETIVOS E DIFUSOS",5140.00,0.00,"0,00",0.00,0.00,subfunção,2014,2014-12-31,0.00,0.00,0.00
1149,1676497019-1569,https://transparencia.fortaleza.ce.gov.br/inde...,DESPORTO COMUNITARIO,2249000.00,173802.97,"7,73",173802.97,173802.97,subfunção,2014,2014-12-31,278625.19,278625.19,278625.19
1150,1676497019-1570,https://transparencia.fortaleza.ce.gov.br/inde...,LAZER,160000.00,0.00,"0,00",0.00,0.00,subfunção,2014,2014-12-31,0.00,0.00,0.00

# Análise e visualizações

## Valor empenhado para a Cultura por ano em Fortaleza-CE, entre 2010 e 2022 e Percentual do valor do orçamento empenhado para o setor cultural em relação às demais funções de governo entre 2010 e 2022

In [ ]:
resumo_cultura_total = wsDf.loc[(wsDf['descrição da despesa'] == 'TOTAIS') | (wsDf['descrição da despesa'] == 'CULTURA')].pivot(index=['ano','mes'], columns ='descrição da despesa', values = 'valor mensal empenhado corrigido').reset_index()

In [ ]:
resumo_cultura_total['pct'] = round(resumo_cultura_total['CULTURA']/resumo_cultura_total['TOTAIS']*100,2)

In [ ]:
resumo_cultura_total.columns = ['Ano','Mẽs', 'Cultura', 'Todas as funções', 'Pct']

In [ ]:
resumo_cultura_total

      Ano  Mẽs     Cultura  Todas as funções  Pct
0    2010  abr  6965212.81      547477258.00 1.27
1    2010  ago  2862063.61      579649214.11 0.49
2    2010  dez 18691203.23      799663038.78 2.34
3    2010  fev  6995894.50      509875875.77 1.37
4    2010  jan  3968270.95      504298148.90 0.79
..    ...  ...         ...               ...  ...
151  2022  mai  6156187.13      928150466.34 0.66
152  2022  mar  1427653.13     1116884716.88 0.13
153  2022  nov 17103369.85     1090272213.07 1.57
154  2022  out  3193034.68      902331734.78 0.35
155  2022  set  3084131.69      883666234.56 0.35

[156 rows x 5 columns]

In [ ]:
resumo_cultura_total_ano =  wsDf.loc[((wsDf['descrição da despesa'] == 'TOTAIS') | (wsDf['descrição da despesa'] == 'CULTURA')) & (wsDf['mes'] == 'dez')].pivot(index='ano', columns ='descrição da despesa', values = 'valor Acumulado corrigido').reset_index()

In [ ]:
resumo_cultura_total_ano['pct'] = round(resumo_cultura_total_ano['CULTURA']/resumo_cultura_total_ano['TOTAIS']*100,2)

In [ ]:
resumo_cultura_total_ano.columns = ['Ano', 'Cultura', 'Todas as funções', 'Pct']

In [ ]:
resumo_cultura_total_ano

     Ano      Cultura  Todas as funções  Pct
0   2010  63574897.77     6854758774.67 0.93
1   2011  79853713.07     7434734662.44 1.07
2   2012  90748840.93     7956966069.52 1.14
3   2013  62641182.40     8208514855.90 0.76
4   2014  71851622.03     8680770506.07 0.83
5   2015  46722825.51     8470634666.43 0.55
6   2016  63281835.17     8239379085.96 0.77
7   2017  57383665.53     8638652889.27 0.66
8   2018  76637695.50     8774388088.92 0.87
9   2019  88458631.69    10040407237.48 0.88
10  2020 159182759.69    10574083470.74 1.51
11  2021  88616270.41     9791380216.31 0.91
12  2022  42320689.58    10339062726.88 0.41

In [ ]:
resumo_cultura_total_ano_sem_correcao =  wsDf.loc[((wsDf['descrição da despesa'] == 'TOTAIS') | (wsDf['descrição da despesa'] == 'CULTURA')) & (wsDf['mes'] == 'dez')].pivot(index='ano', columns ='descrição da despesa', values = 'Valor Acumulado').reset_index()

In [ ]:
resumo_cultura_total_ano_sem_correcao['pct'] = round(resumo_cultura_total_ano_sem_correcao['CULTURA']/resumo_cultura_total_ano_sem_correcao['TOTAIS']*100,2)
resumo_cultura_total_ano_sem_correcao.columns = ['Ano', 'Cultura _ Sem Correção', 'Todas as funções _ Sem correção', 'Pct  _ Sem correção']

In [ ]:
resumo_cultura_total_ano_sem_correcao

,Ano,Cultura _ Sem Correção,Todas as funções _ Sem correção,Pct _ Sem correção
0,2010,31217869.22,3365966292.85,0.93
1,2011,41761489.58,3888179800.35,1.07
2,2012,50230328.42,4404254807.14,1.14
3,2013,36721858.05,4812040669.91,0.76
4,2014,44820159.52,5414958046.03,0.83
5,2015,32255792.19,5847827663.35,0.55
6,2016,46434616.84,6045848856.99,0.77
7,2017,43347750.02,6525657824.35,0.66
8,2018,60060690.19,6876456829.67,0.87
9,2019,72309943.34,8207466751.46,0.88
10,2020,136001177.20,9034193166.76,1.51
11,2021,83328486.20,9207122884.12,0.91
12,2022,42097589.76,10284558817.75,0.41

In [ ]:
pd.merge(resumo_cultura_total_ano_sem_correcao, resumo_cultura_total_ano, on='Ano')

,Ano,Cultura _ Sem Correção,Todas as funções _ Sem correção,Pct _ Sem correção,Cultura,Todas as funções,Pct
0,2010,31217869.22,3365966292.85,0.93,63574897.77,6854758774.67,0.93
1,2011,41761489.58,3888179800.35,1.07,79853713.07,7434734662.44,1.07
2,2012,50230328.42,4404254807.14,1.14,90748840.93,7956966069.52,1.14
3,2013,36721858.05,4812040669.91,0.76,62641182.40,8208514855.90,0.76
4,2014,44820159.52,5414958046.03,0.83,71851622.03,8680770506.07,0.83
5,2015,32255792.19,5847827663.35,0.55,46722825.51,8470634666.43,0.55
6,2016,46434616.84,6045848856.99,0.77,63281835.17,8239379085.96,0.77
7,2017,43347750.02,6525657824.35,0.66,57383665.53,8638652889.27,0.66
8,2018,60060690.19,6876456829.67,0.87,76637695.50,8774388088.92,0.87
9,2019,72309943.34,8207466751.46,0.88,88458631.69,10040407237.48,0.88
10,2020,136001177.20,9034193166.76,1.51,159182759.69,10574083470.74,1.51
11,2021,83328486.20,9207122884.12,0.91,88616270.41,9791380216.31,0.91
12,2022,42097589.76,10284558817.75,0.41,42320689.58,10339062726.88,0.41

## Valor empenhado em Cultura em cada ano (2010-2022) em relação ao que estava previsto na Lei Orçamentária Anual (LOA)

In [ ]:
cultura_por_ano = wsDf.loc[(wsDf['descrição da despesa'] == 'CULTURA') &(wsDf['mes']== 'dez')].sort_values(by='ano')
cultura_por_ano['pct']  = round(cultura_por_ano['Valor Acumulado']/cultura_por_ano['Valor Anual Previsto na LOA']*100,2)
cultura_por_ano=cultura_por_ano[['ano','Valor Anual Previsto na LOA','Valor Acumulado','pct']]
cultura_por_ano.columns = ['Ano','Valor previsto na LOA','Valor empenhado no ano','Pct']
cultura_por_ano.to_csv('valor_anual_previsto_LOA_e_valor_acumulado.csv', index=False)
cultura_por_ano

     Ano  Valor previsto na LOA  Valor empenhado no ano   Pct
9   2010            63770546.00             31217869.22 48.95
9   2011            78348304.00             41761489.58 53.30
9   2012            99861612.00             50230328.42 50.30
9   2013            90266544.00             36721858.05 40.68
11  2014            57645418.00             44820159.52 77.75
10  2015            57985508.00             32255792.19 55.63
10  2016            88398641.00             46434616.84 52.53
10  2017            96365773.00             43347750.02 44.98
10  2018            95069137.00             60060690.19 63.18
10  2019           104948694.00             72309943.34 68.90
10  2020           192225384.00            136001177.20 70.75
10  2021           132670110.00             83328486.20 62.81
10  2022           102462129.00             42097589.76 41.09

## Valores Empenhados, Liquidados e Pagos para a Cultura, entre 2014 e 2022
(Valores totais e distribuídos por subfunção)

In [ ]:
valores_cultura_soma = subfuncoes_cultura.groupby('ano').sum().round(2)
valores_cultura_soma

,Dotação Orçamentária,Valor Empenhado,Valor Liquidado,Valor Pago,valor_pago_corrigido,valor_empenhado_corrigido,valor_liquidado_corrigido
ano,,,,,,,
2014,73248537.00,44820159.52,42945440.26,37758174.45,60530486.91,71851622.03,68846241.84
2015,55866508.00,32255792.19,32054672.20,29636524.95,42928791.70,46722825.51,46431501.27
2016,90139716.00,46434616.84,44820208.66,43775480.12,59657921.31,63281835.17,61081694.00
2017,79607923.00,43347750.02,41662131.35,41183168.28,54518196.51,57383665.53,55152246.88
2018,84024373.00,60060690.19,58453363.52,58239392.83,74313712.34,76637695.50,74586739.85
2019,90629635.00,72309943.34,68492245.07,68135466.38,83351885.60,88458631.69,83788342.24
2020,172910763.00,136001177.20,131205471.39,131051846.32,153389808.74,159182759.69,153569619.41
2021,100042367.00,83328486.20,75203332.04,73335155.17,77988791.56,88616270.41,79975517.52
2022,98455818.00,42097589.76,36148471.18,34127215.29,34308075.42,42320689.58,36340043.13

In [ ]:
valores_cultura = df[df['função / subfunção'] == 'CULTURA'][['ano','Dotação Orçamentária', 'Valor Empenhado','Valor Liquidado',
       'Valor Pago','%(B/A)%','valor_pago_corrigido','valor_empenhado_corrigido','valor_liquidado_corrigido']].sort_values(by='ano')
valores_cultura

,ano,Dotação Orçamentária,Valor Empenhado,Valor Liquidado,Valor Pago,%(B/A)%,valor_pago_corrigido,valor_empenhado_corrigido,valor_liquidado_corrigido
1144,2014,73248537.00,44820159.52,42945440.26,37758174.45,"61,19",60530486.91,71851622.03,68846241.84
1012,2015,55866508.00,32255792.19,32054672.20,29636524.95,"57,74",42928791.70,46722825.51,46431501.27
889,2016,90139716.00,46434616.84,44820208.66,43775480.12,"51,51",59657921.31,63281835.17,61081694.00
766,2017,79607923.00,43347750.02,41662131.35,41183168.28,"54,45",54518196.51,57383665.53,55152246.88
629,2018,84024373.00,60060690.19,58453363.52,58239392.83,"71,48",74313712.34,76637695.50,74586739.85
486,2019,90629635.00,72309943.34,68492245.07,68135466.38,"79,79",83351885.60,88458631.69,83788342.24
346,2020,172910763.00,136001177.20,131205471.39,131051846.32,"78,65",153389808.74,159182759.69,153569619.41
206,2021,100042367.00,83328486.20,75203332.04,73335155.17,"83,29",77988791.56,88616270.41,79975517.52
70,2022,98455818.00,42097589.76,36148471.18,34127215.29,"42,76",34308075.42,42320689.58,36340043.13

In [ ]:
# Teste de valores totais para cultura e divididos por subfunção, a cada ano:

valores_cultura_soma.reset_index()['Valor Pago'] == valores_cultura.reset_index()['Valor Pago']

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
Name: Valor Pago, dtype: bool

In [ ]:
valores_cultura_soma.reset_index()['Valor Liquidado'] == valores_cultura.reset_index()['Valor Liquidado']

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
Name: Valor Liquidado, dtype: bool

In [ ]:
valores_cultura_soma.reset_index()['Valor Empenhado'] == valores_cultura.reset_index()['Valor Empenhado']

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
Name: Valor Empenhado, dtype: bool

In [ ]:
valores_cultura_soma.reset_index()['Valor Pago'] == valores_cultura.reset_index()['Valor Pago']

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
Name: Valor Pago, dtype: bool

In [ ]:
colunas = ['ano','Dotação Orçamentária', 'Valor Empenhado', 'Valor Liquidado', 'Valor Pago','função / subfunção','valor_pago_corrigido','valor_empenhado_corrigido','valor_liquidado_corrigido']

todas = df[df['função / subfunção'] == 'CULTURA'][colunas].copy().sort_values(by='ano')
todas['função / subfunção'] = 'Todas'

pd.concat([todas,subfuncoes_cultura[colunas]]).to_csv('gastos_cultura_por_subfuncao.csv', index=False)


pd.concat([todas,subfuncoes_cultura[colunas]])

,ano,Dotação Orçamentária,Valor Empenhado,Valor Liquidado,Valor Pago,função / subfunção,valor_pago_corrigido,valor_empenhado_corrigido,valor_liquidado_corrigido
1144,2014,73248537.00,44820159.52,42945440.26,37758174.45,Todas,60530486.91,71851622.03,68846241.84
1012,2015,55866508.00,32255792.19,32054672.20,29636524.95,Todas,42928791.70,46722825.51,46431501.27
889,2016,90139716.00,46434616.84,44820208.66,43775480.12,Todas,59657921.31,63281835.17,61081694.00
766,2017,79607923.00,43347750.02,41662131.35,41183168.28,Todas,54518196.51,57383665.53,55152246.88
629,2018,84024373.00,60060690.19,58453363.52,58239392.83,Todas,74313712.34,76637695.50,74586739.85
...,...,...,...,...,...,...,...,...,...
1146,2014,21000.00,0.00,0.00,0.00,"PATRIMONIO HISTORICO, ARTISTICO E ARQUEOLOGICO",0.00,0.00,0.00
1147,2014,40519754.00,26687171.91,24812452.65,21695922.53,DIFUSAO CULTURAL,34780938.80,42782457.93,39777077.74
1148,2014,5140.00,0.00,0.00,0.00,"DIREITOS INDIVIDUAIS, COLETIVOS E DIFUSOS",0.00,0.00,0.00
1149,2014,2249000.00,173802.97,173802.97,173802.97,DESPORTO COMUNITARIO,278625.19,278625.19,278625.19
1150,2014,160000.00,0.00,0.00,0.00,LAZER,0.00,0.00,0.00

In [ ]:
resumo_por_subfuncao =  subfuncoes_cultura[colunas].copy()

resumo_por_subfuncao.loc[(resumo_por_subfuncao['função / subfunção'] != 'ADMINISTRACAO GERAL') & (resumo_por_subfuncao['função / subfunção'] != 'DIFUSAO CULTURAL'),'função / subfunção'] = 'Outras'

resumo_por_subfuncao = resumo_por_subfuncao.groupby(['ano','função / subfunção']).sum().reset_index().pivot(index='ano', columns='função / subfunção', values='valor_pago_corrigido').fillna(0).reset_index()

In [ ]:
resumo_por_subfuncao

função / subfunção   ano  ADMINISTRACAO GERAL  DIFUSAO CULTURAL      Outras
0                   2014          25470922.92       34780938.80   278625.19
1                   2015          30018991.68       12314443.42   595356.59
2                   2016          36756515.19       22043917.97   857488.15
3                   2017          36245948.28       16410129.76  1862118.48
4                   2018          20019732.93       12631837.51 41662141.91
5                   2019          46326785.61       28364211.14  8660888.85
6                   2020          38618931.34       67482937.90 47287939.50
7                   2021          17412619.57       36845769.94 23730402.05
8                   2022          19990556.02        7767699.31  6549820.08

In [ ]:
resumo_por_subfuncao.to_csv('resumo_por_subfuncao.csv', index=False)

In [ ]:
resumo_por_subfuncao_v2 =  subfuncoes_cultura[colunas].copy()

resumo_por_subfuncao_v2 = resumo_por_subfuncao_v2.groupby(['ano','função / subfunção']).sum().reset_index().pivot(index='ano', columns='função / subfunção', values='valor_pago_corrigido').fillna(0).reset_index()

In [ ]:
resumo_por_subfuncao_v2.to_csv('resumo_por_subfuncao_v2.csv', index=False)

In [ ]:
resumo_por_subfuncao_v2

função / subfunção,ano,ADMINISTRACAO GERAL,ASSISTENCIA A CRIANCA E AO ADOLESCENTE,DESPORTO COMUNITARIO,DIFUSAO CULTURAL,"DIREITOS INDIVIDUAIS, COLETIVOS E DIFUSOS",FORMACAO DE RECURSOS HUMANOS,INFRA-ESTRUTURA URBANA,LAZER,"PATRIMONIO HISTORICO, ARTISTICO E ARQUEOLOGICO",TECNOLOGIA DA INFORMACAO,TECNOLOGIA DA INFORMATIZACAO
0,2014,25470922.92,0.00,278625.19,34780938.80,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,2015,30018991.68,0.00,284312.33,12314443.42,0.00,0.00,0.00,0.00,195127.28,0.00,115916.98
2,2016,36756515.19,0.00,0.00,22043917.97,0.00,0.00,152912.32,0.00,704575.83,0.00,0.00
3,2017,36245948.28,0.00,0.00,16410129.76,0.00,0.00,1762061.33,0.00,70161.29,29895.86,0.00
4,2018,20019732.93,2716234.95,0.00,12631837.51,29430684.22,0.00,6854352.84,0.00,2660869.89,0.00,0.00
5,2019,46326785.61,4924075.88,0.00,28364211.14,0.00,0.00,3658824.96,0.00,75356.88,2631.13,0.00
6,2020,38618931.34,4418273.11,0.00,67482937.90,0.00,0.00,41313901.90,0.00,1555764.49,0.00,0.00
7,2021,17412619.57,3370323.27,0.00,36845769.94,0.00,0.00,19899329.79,0.00,364968.09,95780.90,0.00
8,2022,19990556.02,5935292.13,0.00,7767699.31,0.00,0.00,0.00,0.00,614527.96,0.00,0.00